
@{
    ViewBag.Title = "about";
}

<h2>About</h2>
<br />
<br />
<div style="text-align:center;">
    <P>Developer Community System 2022</P>
    <P>Version 1.0</P>
    <P>Created by Andrew & Kavya SP</P>
</div>
<br />
