@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Developer Community System</h1>
    <p class="lead">Let developers talk🗣️!</p>
    <img src="~/Content/img/1img.png" height="170" width="170"/>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Get Connected🔗</h2>
        <p>
            This application helps to bring developers/ IT professionals into one space.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>DCS as Business</h2>
        <p>Take up a corporate account and unlock enormous features🚀!</p>
       
    </div>
    <div class="col-md-4">
        <h2>Wide Possibilites🧰</h2>
        <p>Collaborate with your team and let DCS be a tool for you! Add tasks, raise issue and more!</p>
        
    </div>
</div>